@model MotorbikeShop.Models.ViewModels.CommentVm.AllCommentForMotor;

@{
    ViewData["Title"] = "AllCommentForMotor";
    var id = TempData["id"];
}

<h1>AllCommentsForMotor</h1>

<p>
    <a asp-action="Comment" asp-route-id="@id">Make a Comment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Desc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    <a asp-action="EditComment" asp-route-id="@item.CommentId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Motorbike" asp-action="AllMotors">Back to Motors</a>
</div>